body,li,a,ul{
    text-align:center;
    font-family:"Garamonnd" serif;
    font-size:24px;
    background-color:#AFE1AF;
    color: #087969;
    list-style-position:inside;



}

h1{
    color:#087969;
    background-color:#a5cca5;
}